<!doctype>
<html>
	<head>

	</head>
	<body>
		<h1>Welcome to the best numerology app in the world!!!</h1>
		<p>Yes, you heard right. All I need is your birthday and I can make a query to the universe for the meaning of your birth. Ya ready?</p>
		<form>
			Enter you date of birth(MMDDYYYY) :
			<input type="date" name="bday">
			<input type="submit">
		</form>
		<p>According to your date of birth,</p>
		<% yield %>
	</body>
</html>
